* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: #FFCC00;
  font-size: 20px;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 900;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 10px;
  margin: 0;
}

nav ul {
  display: inline-block;

}
nav li {
  display: inline-block;
  margin-left: 20px;
  text-decoration: none;
}

.search {
  width: 50vh;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.pokemon-list {
  background-color: #D5A100;
  border-radius: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;

}

.pokemon-list li {
  background: #fff;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  list-style: none;
  cursor: pointer;
}

button.button-class {
  display: grid;
  margin: 0 auto;
  width: 100%;
  background-color: #0075BE;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

button.button-class:hover {
  animation: bounce 0.5s linear;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  10% {
    transform: translateY(-2px);
  }
  20% {
    transform: translateY(-6px);
  }
  40% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(-2px);
  }
  80% {
    transform: translateY(-0px);
  }
}

